<footer class="footer">
  <nav class="navbar navbar-expand-lg navbar-light">


    <div class="container-fluid">
      <div class="navbar-nav">
        <small>
          <%= link_to "The Shopone application", "#", class: "nav-link" %>
          <%= link_to "By Damian Cichosz", "https://github.com/dvnDC/shopone", class: "nav-link" %>
        </small>
      </div>


      <ul class="navbar navbar-expand navbar-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <%= link_to "About", about_path, class: "nav-link" %>
            <%= link_to "Contact", contact_path, class: "nav-link" %>
            <%= link_to "News", "https://github.com/dvnDC/shopone", class: "nav-link" %>
          </ul>
        </div>
      </ul>
    </div>

  </nav>
</footer>